{% extends 'base.html' %} {% block content %}

<main class="container">
  <div class="row">
      <section class="col-md-4 offset-md-4 mt-5">
          <form action="/signup/" method="POST" class="card card-body">
              {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal text-center" >Registrate</h1>
        
            <div class="form-floating">
              {{error}}
              <input type="text" class="form-control" name="username" id="username" placeholder="ingresar usuario">
              <label for="username">Usuario: </label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="password" name="password1" placeholder="clave">
              <label for="password1">Password</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="password" name="password2" placeholder="confirmacion de clave">
              <label for="password2">Password</label>
            </div>
      
            <button class="w-100 btn btn-lg btn-primary" type="submit">signup</button>
           
          </form>

      </section>
  </div>
  
</main>

{% endblock %}